.wrapper {
    background-color: #f5f1e6;

    .flex-box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .left-box {
            text-align: center;
            .header {
                font-size: 100px;
                color: #e31837;
                font-family: 'MergeBlack';
            }
            .text {
                font-size: 24px;
                font-family: 'MergeBlack';
                font-weight: bold;
            }
            .button {
                width: 200px;
                height: 60px;
                background-color: #ffc522;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
                margin-top: 16px;
                color: black;
            }
        }
        .right-box {
            width: 20%;
            margin-top: 65px;

            @media only screen and (max-width: 767px) {
                width: 70%;
                margin-top: 55px;
            }
            @media only screen and (min-width: 768px) and (max-width: 1440px) {
                width: 50%;
                margin-top: 75px;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            border: 0;
        }
    }
}
