.wrapper {
    display: block;
    background-color: var(--red-primary);
    height: 100%;
}

.logo {
    img {
        display: block;
        height: 60px;
        margin: auto;
    }
}

.menu {
    margin-top: 10px;
    padding: 0;
    border-top: 2px solid #333;
}

.menu-item {
    padding: 10px 0;
    text-align: center;
}

.menu-item .active {
    display: block;
    padding: 10px 0;
    width: 100%;
    background-color: var(--pink-primary);
}
